* {
    background-color: white;
}

header {
    background-image: url('sunset.jpg');
    background-repeat: no-repeat;
    background-position: right;
    line-height: 400%;
    text-indent: 1em;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    color: white;
    background-color: #002171;
    margin: 0;
    font-family: Georgia, sans-serif;
    background-image: url('sunset.jpg');
    background-repeat: no-repeat;
    background-position: right;
}

nav {
    background-color: #BBDEFB;
}

nav a {
    text-decoration: none;
}

h2 {
    color: #1976d2;
    font-family: Georgia, sans-serif;
}
h3 {
    font-family: Georgia, sans-serif;
    color:#000033;
}
ul {
    list-style-image: url("./pacific/marker.gif");
}
dt {
    color: #1976d2;
}
footer {
    font-size: 75%;
    font-style:italic;
    text-align: center;
    font-family: Georgia,sans-serif;
}

.resort {
    font-weight: bold;
}

#contact {
    font-size: 90%;
}